:root {
  --main-yellow: #fed11f;
  --main-blue: #2f4190;
  --main-white: #ffffff;
  --main-pinklight: #feecdd;
}

#page-header {
	margin-top: 50px;
}
.form-container {
	margin: 50px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#uploaded-image {
	max-width: 175px;
	max-height: auto;
}
#btn-upload-image:hover, #btn-register:hover {
	color: var(--main-white) !important;
}
#btn-upload-image {
	color: var(--main-blue) !important;
}
#btn-register:hover {
	background-color: var(--main-yellow) !important;
	color: var(--main-white) !important;
}
.btn-upload {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 768px) {
  .pay-container {
    display: flex !important;
	align-items: center;
	justify-content: center;
  }
}
#page-header {
	color: var(--main-blue) !important;
}
.section-header-label {
	color: var(--main-blue) !important;
    font-size: 18px !important;
	font-weight: 600 !important;
	margin-bottom: 1rem !important;
}
#form-inner {
	background-color: var(--main-pinklight) !important;
	padding: 40px 20px;
}
.legend {
    color: white;
	padding: 10px 20px;
	box-sizing: border-box;
	background-color: var(--main-blue) !important;
}
.fieldset {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: var(--main-blue) !important;
    border-right-color: var(--main-blue) !important;
    border-bottom-color: var(--main-blue) !important;
    border-left-color: var(--main-blue) !important;
    margin-bottom: 50px;
}
#payment-table-container {
	border: 2px solid var(--main-blue) !important;;
	border-radius: 0;
}

.ui.toggle.checkbox input:checked + label:before {
    background-color: var(--main-yellow) !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: var(--main-yellow) !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: var(--main-yellow) !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: var(--main-yellow) !important;
}

.ui.radio.checkbox input:focus:checked ~ label:after {
    background-color: var(--main-yellow) !important;
}
.ui.radio.checkbox input:checked ~ label:after {
    background-color: var(--main-yellow) !important;
}
.ui.radio.checkbox label:after {
	background-color: var(--main-white);
}
input[type=radio]:checked ~ .check {
	color: var(--main-yellow) !important;
	background-color: var(--main-yellow) !important;
}
input[type=radio]:checked ~ .check::before{
  	background-color: var(--main-yellow) !important;
}
input[type=radio]:checked ~ label{
  	color: var(--main-yellow) !important;
}