#page-header {
	margin-top: 50px;
}
.form-container {
	margin: 50px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#uploaded-image {
	max-width: 175px;
	max-height: auto;
}
#btn-upload-image:hover, #btn-pay:hover {
	color: #fff;
}
.btn-upload {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 768px) {
  .pay-container {
    display: flex !important;
	align-items: center;
	justify-content: center;
  }
}
#page-header {
	color: #2f4190;
}
.section-header-label {
	color: #2f4190 !important;
    font-size: 18px !important;
	font-weight: 600 !important;
	margin-bottom: 1rem !important;
}
#form-inner {
	background-color: #feecdd;
	padding: 40px 20px;
}
.legend {
    color: white;
	padding: 10px 20px;
	box-sizing: border-box;
	background-color: #2f4190;
}
.fieldset {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2f4190;
    border-right-color: #2f4190;
    border-bottom-color: #2f4190;
    border-left-color: #2f4190;
    margin-bottom: 50px;
}
#payment-table-container {
	border: 2px solid #2f4190 !important;
	border-radius: 0;
}
